.Homepage {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: 	#333333;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}