.Register {
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 120px;

    .container {
        width: 320px;
        border: 1px solid transparent;
        position: absolute;

        .h1 {
            margin-bottom: 50px;
            letter-spacing: 3px;
            color: #444;
        }

        .register-btn {
            border: 1px solid #000;
            font-weight: 600;
            color: 	#444;
            letter-spacing: 1px;
            width: 100%;
            margin-top: 12px;

            &:hover {
                background: #008000;
                color: #ffffff;
                border-radius: 30px;
                transition: all 1s;
            }
        }

        .form-control {
            background: transparent;
            border: 0 solid;
            border-bottom: 1px solid #000000;
            font-weight: 500;
            font-size: 18px;
            color: #999;
            text-align: center;

            &:focus {
                color: #444;
            }
        }

        
        .alert {
            background: transparent;
            margin: 3px;

            &:focus {
                color: #444;
            }
        }

        .bday {
            text-align: center;
            color: #999;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-clear-button {
          display: none;
        }

        input::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1
        }
    }
}
